{% extends 'index.html' %}
{% load static %}
{% block titulo %}

  {{detalle_post.titulo}}
{% endblock titulo %}

{% block titulo2 %}

   <h1>{{detalle_post.titulo}}</h1> 

    <p>{{detalle_post.descripcion}}</p>
    
{% endblock titulo2 %}

{% block imagenP %}
  {{detalle_post.imagen}}
{% endblock imagenP %}

{% block contenido %}

{{detalle_post.contenido | safe}}

{% endblock contenido %}

{% block busqueda %}{% endblock busqueda%}